<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style.css">
  <title>Grocery Tracks! Cart</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg  topbar">
    <img class="logo" src="../static/images/logo-transparent-png.png">

    <h1 class="heading">My Cart</h1>

    <div class=" cartnavlist">
      <a class="navitem" href="/mainpage">Home</a>
      <a class="navitem" href="/">Logout</a>
    </div>
  </nav>

  {% if cartlen == 0 %}
    <h3 style="text-align: center;">No Items in the Cart</h3>
    <br>
    <h1 style="text-align: center; color: #00BFB2;">Add Items to the Cart</h1>
  {%else%}
  <div class="d-flex flex-column-reverse mb-3">
    {% for citem in cartitems %}
    <div class=" row cartitem">
      <div class="col-3 ">
        <img class="cartimg" src="{{citem.citem_image}}">
      </div>
      <div class="col-4 ">
        <div class="row my-4">
          <h5>{{citem.citem_name}}</h5>
        </div>
        <div class="row my-4">
          <h5>Quantity: {{citem.citem_qty}}</h5>
        </div>
      </div>
      <div class="col-2 align-self-center ">
        <h5>Price: {{citem.citem_price}}</h5>
      </div>
      <div class="col-2 align-self-center ">
        <a href="/remove/{{citem.id}}" type="button" class="btn btn-outline-danger my-1 mx-4 delbtn">Remove</a>
      </div>
    </div>
    {% endfor %}
  </div>

  <br>
  <form action="/buy" class="form-inline cartcont">
    <h1 style="margin-right: 25px;">Total: Rs {{carttotal}}</h1>
    <a href="#" type  ="button" class="btn btn-outline my-4 mx-4 buybtn">Buy</a>
  </form>
  {%endif%}


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>


</body>

</html>